main {
    background: #e15e36 url(../images/bg.webp) fixed;
    padding-top: 52px;
}

main.android {
    background-attachment: scroll;
    background-size: contain;
}

.no-webp main {
    background-image: url(../images/bg.png);
}

#about-content {
    margin: 0 auto;
    color: #fff;
    font-size: 26px;
    line-height: 1.385;
    padding: 0 44px 70px;
}

#about-content h1,
#about-content h2,
#about-content h3,
#about-content h4 {
    font-weight: normal;
    font-family: "Amaranth", sans-serif;
    margin: 0;
}

#about-content h1,
#about-content h2,
#about-content h4 {
    text-align: center;
}

#about-content h1 {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 53px;
}

#about-content h2 {
    font-size: 40px;
    line-height: 1.2;
    margin: 0 55px 51px;
}

#about-content h3 {
    font-size: 32px;
    line-height: 1.125;
    margin: 43px 0 26px;
}

#about-content h4 {
    font-size: 40px;
    line-height: 1.2;
    margin: 0 70px 41px;
}

#about-content p {
    margin-bottom: 24px;
}

#about-top-blocks {
    display: flex;
}

#about-top-blocks > section:nth-of-type(2n+1) {
    flex-grow: 1;
}

#about-top-blocks > section:nth-of-type(2) {
    background: url(../images/video-chat-bg-cloud.webp) no-repeat center;
    background-size: contain;
    margin: 0 24px;
}

.no-webp #about-top-blocks > section:nth-of-type(2) {
    background-image: url(../images/video-chat-bg-cloud.png);
}

#about-phone {
    width: 337px;
    height: 684px;
    position: relative;
    margin: 0 64px;
}

#about-phone .stream,
#about-phone button {
    position: absolute;
    top: 6.8713%;
    left: 5.0445%;
    width: 90.2077%;
    height: 90.9357%;
}

#about-phone > .stream > video {
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
}

#about-phone .poster {
    background: url(../images/poster.jpg) no-repeat;
    position: absolute;
    top: 6.8713%;
    left: 5.0445%;
    width: 90.2077%;
    height: 90.9357%;
    background-size: contain;
}

#about-phone .frame {
    background: url(../images/random-chat-iphone-bg.svg) no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#about-phone .play {
    background: transparent url(../images/button-play.svg) no-repeat center;
    border: none;
    outline: none;
    opacity: 0.75;
    cursor: pointer;
}

#about-phone .play:hover {
    opacity: 1;
}

#about-phone .play.pause {
    background: transparent none;
}

#about-bottom-blocks {
    display: flex;
    padding-top: 50px;
}

#about-bottom-blocks > section {
    flex: 0 0 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#start-button {
    font-size: 40px;
    width: auto;
    height: 75px;
    min-width: 382px;
    margin: 0 auto;
}

#start-button span {
    position: relative;
    top: 1px;
}

main .app-buttons a {
    margin: 0 5px;
    width: 255px;
    height: 75px;
    padding: 0;
    text-indent: -9999px;
}

main .swiper-container {
    padding-top: 45px;
    min-height: 360px;
}

main .swiper-slide {
    width: auto;
}

main .swiper-slide picture,
main .swiper-slide img {
    display: block;
    width: 640px;
    height: 360px;
}

main .swiper-pagination {
    width: 100%;
    top: 0;
}

main .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #fff;
    opacity: .5;
    margin: 0 5px;
    border-radius: 10px;
    transition: opacity .8s, background-color .8s, width .8s;
    transition-delay: .8s, .8s, 0s;
    box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.1);
    -webkit-tap-highlight-color: transparent;
}

main .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
    width: 100px;
    transition-delay: 0s;
}

@media (hover: hover) {
    #about-phone button.pause:hover {
        background: transparent url(../images/button-pause.svg) no-repeat center;
        opacity: 0.75;
    }
}

@media (min-width: 992px) {
    #about-content {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    #about-content {
        max-width: 1360px;
    }
}

@media (max-width: 1599.98px) {
    #about-content {
        font-size: 19.5px;
    }

    #about-content h1 {
        font-size: 40px;
    }

    #about-content h2,
    #about-content h4 {
        font-size: 32px;
    }

    #about-content h3 {
        font-size: 24px;
    }

    #about-phone {
        width: 252.75px;
        height: 513px;
    }
}

@media (max-width: 1199.98px) {
    #about-content {
        font-size: 17.16px;
    }

    #about-content h3 {
        font-size: 21.12px;
    }

    #about-content h4 {
        margin-left: 20px;
        margin-right: 20px;
    }

    #about-phone {
        width: 222.42px;
        height: 451.44px;
    }

    #start-button {
        font-size: 32px;
        width: 305px;
        height: 60px;
        min-width: 306px;
    }

    main .app-buttons a {
        width: 204px;
        height: 60px;
    }
}

@media (max-width: 991.98px) {
    #about-top-blocks > section:nth-of-type(1) {
        margin-right: 12px;
    }

    #about-top-blocks > section:nth-of-type(2) {
        display: none;
    }

    #about-top-blocks > section:nth-of-type(3) {
        margin-left: 12px;
    }

    #about-top-blocks.ios {
        flex-wrap: wrap;
        justify-content: center;
    }

    #about-top-blocks.ios > section:nth-of-type(1) {
        flex: 0 1 50%;
        box-sizing: border-box;
        padding-right: 12px;
        margin: 0;
    }

    #about-top-blocks.ios > section:nth-of-type(2) {
        order: -1;
        flex: 1 0 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 51px;
    }

    #about-top-blocks.ios > section:nth-of-type(3) {
        flex: 0 1 50%;
        box-sizing: border-box;
        padding-left: 12px;
        margin: 0;
    }

    #about-content {
        font-size: 20px;
    }

    #about-content h1 {
        font-size: 40px;
    }

    #about-content h2,
    #about-content h3,
    #about-content h4 {
        font-size: 26px;
        margin-top: 0;
    }

    #about-bottom-blocks > section:nth-of-type(1) {
        display: none;
    }

    #about-bottom-blocks > section:nth-of-type(2) {
        flex-grow: 1;
    }
}

@media (max-width: 767.98px) {
    #about-top-blocks {
        flex-direction: column;
    }

    #about-top-blocks > section:nth-of-type(1),
    #about-top-blocks > section:nth-of-type(3) {
        margin: 0;
    }

    #about-top-blocks.ios {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    #about-top-blocks.ios > section:nth-of-type(1) {
        flex: 0 1 auto;
        padding: 0;
    }

    #about-top-blocks.ios > section:nth-of-type(2) {
        order: 0;
        flex: 0 1 auto;
        display: block;
        margin: 0 0 24px;
    }

    #about-top-blocks.ios #about-phone {
        margin: 0 auto;
    }

    #about-top-blocks.ios > section:nth-of-type(3) {
        flex: 0 1 auto;
        padding: 0;
    }
}

@media (max-width: 639.98px) {
    main .swiper-container {
        min-height: calc(100% * 360 / 640);
    }

    main .swiper-slide {
        width: 100%;
    }

    main .swiper-slide picture,
    main .swiper-slide img {
        display: block;
        width: 100%;
        height: calc(100% * 360 / 640);
    }
}

@media (max-width: 575.98px) {
    #about-content {
        padding: 0 22px 50px;
        font-size: 20px;
    }

    #about-content h2 {
        margin: 0 0 51px;
    }

    #about-content h4 {
        margin-left: 0;
        margin-right: 0;
    }

    #about-bottom-blocks > section:nth-of-type(2) {
        width: 100%;
    }

    #about-bottom-blocks {
        padding-top: 30px;
    }
}
